h2{
    color:#00a651;
    
}
.navbar-toggle{
    float:left;
}
.navbar-fixed-bottom, .navbar-fixed-top{
    position:absolute;
}
#Logout{
    float:right;
    color:white;
    background-color:#1c75bb;

}
h3{
    color:#00a651;
    margin-left:100px;
    font-size:32px;
}
.placement{
    color:red;
    margin-left: 200px;
    margin-top: -40px;  
}

p{
    margin:10px;
    padding:10px;
}