
/*a{
	float: right;
     background-color: #1c75bb;
}

hr{
	margin: -10px;
}
#line{
	border-width: 2px;
	border-color: #000000;
    margin-top:-3px;
}
#Eligibility{
    color: red;
    
}

#HeaderBackground{
    background-color:#f5f5f5;
}*/
#Eligibility{
    color: #00a651;
    font-size:32px;
    margin-left:100px;

    
}
#Logout{
    float:right;
    color:white;
    background-color:#1c75bb;

}
.navbar-toggle{
    float:left;
}
.navbar-fixed-bottom, .navbar-fixed-top{
    position:absolute;
}
.placement{
    color:red;
    margin-left: 200px;
    margin-top: -20px;  
}
#Patient{
    color:#00a651;
    margin-top:45px;
}
#Plan{
    color:#00a651;
}